@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #222831;
  --secondary: #393e46;
  --tertiary: #ff5722;
  --light-dark: #eeeeee;
  --dark: #232931;
  --border-radius: .3rem;
}

* {
  margin: 0;
  padding: 0;
  transition: .15s ease-in-out;
}

html {
  background-color: var(--light-dark);
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: var(--light-dark);
  line-height: 1.5;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 10px;
  color: var(--dark);
  line-height: 1.25;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

main a,
main a:active,
main a:focus {
    color: var(--tertiary);
    text-decoration: wavy underline;
    -webkit-text-decoration: wavy underline;
    font-weight: bold;
}

main a:hover {
    color: var(--light-dark);
    text-decoration: none;
    font-weight: bold;
}

header {
  background-color: var(--light-dark);
}

header h1 {
  padding: 0.7em;
}

nav ul {
  padding: 15px 0;
}

nav ul li .navlink,
nav ul li .navlink:active,
nav ul li .navlink:focus {
  color: var(--primary);
  text-decoration: none;
  padding: 5px 15px;
  font-weight: bold;
}

nav ul li .navlink:hover {
  color: var(--primary);
  text-decoration: wavy underline overline;
  -webkit-text-decoration: wavy underline overline;
  font-weight: bold;
  cursor: pointer;
}

nav ul .navActive {
  text-decoration: wavy underline overline;
  -webkit-text-decoration: wavy underline overline;
  color: var(--tertiary);
}

section {
  background-color: var(--primary);
  font-family: 'Quicksand', sans-serif;
  color: var(--light-dark);
  line-height: 1.5;
  letter-spacing: 2px;
}
  
p {
    font-size: 1.2rem;
}

footer {
  text-align: center;
  background-color: var(--light-dark);
  color: var(--primary);
  padding: 50px 0;
}

footer a,
footer a:active,
footer a:focus {
  color: var(--primary);
}

footer a:hover {
  color: var(--tertiary);
}

footer a {
  padding: 0 10px;
}

.btn-sub, .btn-sub:active, .btn-sub:focus {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 4px 4px var(--dark);
  transform: translate(-1px, -1px);
  font-weight: normal;
  margin: 0.5em 0;
}

.btn-sub:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 3px 3px var(--dark);
  font-weight: normal;
}

img {
  opacity: 0.65;
}

img:hover {
  opacity: 1.0;
}

/* SELECTION */
::-moz-selection {
  color: white;
  background: var(--secondary);
}
::selection {
  color: white;
  background: var(--secondary);
}